a {
    &.tile-small,
    &.tile-medium,
    &.tile-wide,
    &.tile-large,
    &.tile-app {
        color: #fff;
    }
}

.tiles-group {
    margin: 5px 0;
}

.tiles-group::before {
    font-size: 1.2em;
}

.tiles-group[data-group-title] {
    margin-top: 3em;
}